<section>
  <h3>Summary</h3>
  <p>
    I am a solutions & web developer with commercial experience working in both
    corporate and startup settings that is currently seeking a Fullstack
    position. I am looking to work alongside an expert team of developers with
    the intention to broaden as well as deepen my skillset so to eventually take
    ownership of projects.
  </p>
</section>

<div class="row">
  <div class="col">
    <h1 class="text-center">Work History</h1>
  </div>
</div>
<div class="timeline">
  <div *ngFor="let expItem of workExperience; let i = index" class="row">
    <!--<app-work-exp-item [workExpItem]="expItem"></app-work-exp-item>-->

    <div
      *ngIf="i % 2 == 0"
      class="container-timeline left"
      data-aos="zoom-in-right"
    >
      <div class="content">
        <h2>{{ expItem.startDate }}</h2>
        <p>
          <app-work-exp-item [workExpItem]="expItem"></app-work-exp-item>
        </p>
      </div>
    </div>

    <div
      *ngIf="i % 2 !== 0"
      class="container-timeline right"
      data-aos="zoom-in-right"
    >
      <div class="content">
        <h2>{{ expItem.startDate }}</h2>
        <p>
          <app-work-exp-item [workExpItem]="expItem"></app-work-exp-item>
        </p>
      </div>
    </div>
  </div>
</div>
