<div class="text-container">
  <img src="../../../assets/stock.jpg" id="section-1" />
  <div class="centered">
    <p class="display-3">About</p>
    <br />
    <p class="lead">
      I am a solutions & web developer with commercial experience working in
      both corporate and startup settings that is currently seeking a Fullstack
      position. I am looking to work alongside an expert team of developers with
      the intention to broaden as well as deepen my skillset so to eventually
      take ownership of projects.
      私は現在、フルスタックのポジションを探している企業とスタートアップの両方の設定で働いている商業経験を持つソリューションとウェブ開発者です。最終的にプロジェクトの所有権を取得するために、スキルセットを広げると同時に深めることを意図して、開発者の専門家チームと一緒に仕事をしたいと考えています。
    </p>
  </div>
</div>
<div id="portfolio" class="container">
  <br />
  <h1 class="text-center display-2" style="margin-top: 1rem;">Projects</h1>
  <div
    style="margin-top:15px; margin-bottom: 15px;"
    *ngFor="let project of projects; let i = index"
    data-aos=""
    [attr.data-aos]="i % 2 == 0 ? 'fade-right' : 'fade-left'"
  >
    <app-project-item [projectItem]="project"> </app-project-item>
  </div>
</div>
