<div class="project-item card flex-row flex-wrap">
  <div class="row no-gutters">
    <div
      class="col-auto"
      data-aos=""
      [attr.data-aos]="projectItem.id % 2 == 0 ? 'fade-left' : 'fade-right'"
    >
      <img
        src="{{ projectItem.gifURL }}"
        class="img-fluid"
        alt=""
        width="300"
        height="300"
      />
    </div>
    <div class="col">
      <div class="card-block px-2">
        <h4 class="card-title">{{ projectItem.title }}</h4>
        <p class="card-text">
          {{ projectItem.about }}
        </p>
        <a
          href="{{ projectItem.gitURL }}"
          class="btn btn-brown btn-space"
          target="_blank"
        >
          <fa-icon [icon]="faGithub"></fa-icon>
          GitHub</a
        >

        <!--Make an ngIf that renders a button with a
          link to a /api-project component if projectItem.isAPI === true-->
        <button
          type="button"
          class="btn btn-brown btn-space"
          [routerLink]="
            projectItem.api
              ? ['/api-project', projectItem.id]
              : ['/project', projectItem.id]
          "
        >
          <fa-icon [icon]="faInfoCircle"></fa-icon>
          Read more
        </button>

        <button
          *ngIf="projectItem.live"
          type="button"
          class="btn btn-brown btn-space"
        >
          <a href="{{ projectItem.liveURL }}" target="_blank"
            ><fa-icon [icon]="faExternalLinkAlt"></fa-icon> Live Link</a
          >
        </button>

        <div class="row">
          <div class="col" *ngFor="let tech of projectItem.stack">
            <img
              src="./../../../assets/{{ tech }}.svg"
              height="50px"
              width="50px"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="w-100"></div>
</div>
