<div class="container">
  <div class="row">
    <div class="col">
      <a (click)="back()" href="#" class="previous round">&#8249;</a>

      <h1 class="text-center">{{ project.title }}</h1>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <p>{{ project.aboutLong }}</p>
    </div>
  </div>

  <h3>Stack</h3>
  <br />
  <div class="row">
    <div class="col" *ngFor="let tech of project.stack">
      <img src="./../../../assets/{{ tech }}.svg" height="50px" width="50px" />
    </div>
  </div>
  <br />
  <button
    type="button"
    class="btn btn-success btn-space"
    (click)="toggleDisplay()"
  >
    GET Todos
  </button>
  <div *ngIf="loading" class="spinner-border text-muted"></div>
  <br />
  <div [hidden]="!isShow">
    <h3>Todos</h3>
    <div class="row" *ngFor="let todo of todos">
      <li>{{ todo.text }}</li>
    </div>
  </div>
</div>
